.imagem2{
    background-image: url(https://i.imgur.com/mfC8I8I.pngtps://discordapp.com/chahttps://images-ext-2.discordapp.net/external/f9pqwhuLWwpVnf0r3T57gU7vbf6mhT46GT1F1lywWFc/https/i.imgur.com/mfC8I8I.pngnnels/889470122106945567/900887039921254471/916042266106269716);
    background-repeat: no-repeat; 
    width: 100vh;
    min-height: 100vh;

    background-position: center;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
    color: rgb(158, 4, 4);
}