.cor-navbar{
    background-color: #D9C2AD !important;
}
.cor-navbar2{
    background-color: #067302 !important;
}
.pointer{
    cursor: pointer;
}

.carrinho{
    font: 30px;
    color: white;
    margin-top: 10;
}
