@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@600&display=swap%27');

.textologin{
    font-family: 'Readex Pro', sans-serif !important;
    font-size: 30px !important;
    color:#006400 !important;
}
.cor-boton6{
    font-weight: bold !important;
    margin-left: 0px !important;
    color: rgb(247, 245, 245)!important;
    background-color:#067302 !important;
}
.cor-boton6:hover{
    font-weight: bold !important;
    margin-top: 0px !important;
    color: rgb(247, 245, 245)!important;
    background-color:#067302!important;
}

.cor-boton7{
    margin-right: 20px !important;
    font-weight: bold !important;
    margin-left: 0px !important;
    color: rgb(247, 245, 245)!important;
    background-color:#BFA68F !important;
}
.cor-boton7:hover{
    font-weight: bold !important;
    margin-top: 0px !important;
    color: rgb(247, 245, 245)!important;
    background-color:#BFA68F !important;
}

